{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenido %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/chat.css' %}">


<br>
<h2>MENSAJES ENVIADOS:</h2>

<a href="{% url 'mensajesRecibidos' %}" class="btn btn-warning">VOLVER A INBOX</a>


<div class="container content">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        	<div class="card">
        		<div class="card-header">MENSAJES ENVIADOS</div>
        		<div class="card-body height3">
        			<ul class="chat-list">{% for mensaje in mensajes %}
        				<li class="in">
        					<div class="chat-img">
        					</div><div class="chat-body">
        						<div class="chat-message">
        							<h5>{{ mensaje.emisor }}</h5>
        							<p>{{ mensaje.cuerpo }}</p>
									<i>{{ mensaje.fecha }}</i>
									<a href="/Mensajeria/leerMensaje/{{ mensaje.id }}/"><i class="fa-solid fa-eye"></i></a>
									{% endfor %}
        						</div>
        					</div>
        				</li>
        			</ul>
        		</div>
        	</div>
        </div>
    </div>
</div>



{% endblock %}