{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenido %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
           <div class="row">
                <div class="col-md-4">
                    <img src="{{ pelicula.poster }}" alt="{{ pelicula.nombre }}" class="img-fluid">
                </div>
                <div class="col-md-8">
                            <h3 class="text-center">{{ pelicula.nombre }}</h3>
                            <h5>{{ pelicula.descripcion }}</h5>
                            <br>
                            <h5>Dirigida por: {% for director in pelicula.director.all %} <a href="/AppCoder/detalleDirector/{{ director.id }}/">{{ director.nombre }} {{ director.apellido }} {% endfor %}</a></h5>
                            <h5>Puntaje promedio: {{ pelicula.puntajepromedio }}</h5>
                            <h5>Cast:                             
                                <ul>{% for actor in pelicula.cast.all %}
                                <li><a href="/AppCoder/detalleActor/{{ actor.id }}/">{{ actor.nombre }} {{ actor.apellido }}</a></li>
                            {% endfor %}
                                </ul></h5>

                            {% if user.is_authenticated %}
                            
                            <a href="{% url 'editarPeli' pelicula.id %}" class="btn btn-warning">EDITAR</a>
                            <a href="{% url 'borrarPeli' pelicula.id %}" class="btn btn-danger">BORRAR!!</a>
                            
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}