{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="font-weight-light">Editando al director {{ director.nombre }} {{ director.apellido }}</h1>
{% endblock %}

<h1>{{ mensaje }}</h1>

<br>
</br>

{% block descripcion %}

<form action = "{% url 'editarDirector' director.id %}" method="POST" enctype="multipart/form-data">
    
{% csrf_token %}
    
    <table>

        {{ form.as_table }}
        
    </table>
<br>
    <input type="submit" value="Guardar cambios" class="btn btn-primary">
</br>
</form>

{% endblock %}