{% extends "AppCoder/padre.html" %}


{% load static %}

{% block titulo %}
    <h1 class="font-weight-light">Inicio del sistema</h1>
{% endblock %}

<img src="{{ avatar }}" alt="">

{% block descripcion %}
    <p class="lead">Título</p>

<br>
<h3>{{ mensaje }}</h3>
<br>
{% endblock %}




{% block contenidogris %} <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">Lugar para comentarios o descripciones</p></div>
</div>{% endblock %}