{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="font-weight-light">Listado de actores:</h1>
{% endblock %}



{% block descripcion %}

{{ mensaje }}


<ul>

    {% for actor in actores %}
    <li>{{ actor.nombre }} {{ actor.apellido }}</li>

    {% if user.is_authenticated %}
    <a class = "btn btn-primary" href="{% url 'editarActor' actor.id %}">Editar</a>
    <a class = "btn btn-danger" href="{% url 'borrarActor' actor.id %}">Eliminar</a>
    {% endif %}
    {% endfor %}

</ul>

{% endblock %}



{% block botonAgregar %}  {% if user.is_authenticated %} <a class="btn btn-primary" href="{% url 'actorForm' %}">Agregar actor</a>{% endif %}
<a class="btn btn-primary" href="{% url 'busquedaActor' %}">Buscar actor</a> 
{% endblock %}