{% extends "AppCoder/padre.html" %}

{% block contenido %}

<a href="{% url 'peliFormulario' %}" class="btn btn-warning">AGREGAR PELI</a>

<div class="container">
    <div class="card">
        <div class="card-body">
           <div class="row">
                {% for pelicula in pelis %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                            <img src="{{ pelicula.poster }}" alt="" class="img-fluid" width="75%">
                            <h3 class="text-center">{{ pelicula.nombre }}</h3>
                            <i class="text-center">{{ pelicula.anio }} - Dir: {{ pelicula.director }}</i>
                            </div>
                    <a href="/AppCoder/detallePeli/{{ pelicula.id }}/">Ver más...</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}





