{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="font-weight-light">Listado de películas:</h1>
{% endblock %}



{% block descripcion %}

{{ mensaje }}


<ul style="list-style: none;">

    {% for pelicula in pelis %}


    <li> <img src="/media/{{pelicula.poster}}" height="300" width="225" alt="">
        
        <br>{{ pelicula.nombre }} ({{ pelicula.anio }}) - Dir: {{ pelicula.director }}</br></li>

    {% if user.is_authenticated %}
    <a class = "btn btn-primary" href="{% url 'editarPeli' pelicula.id %}">Editar</a>
    <a class = "btn btn-danger" href="{% url 'borrarPeli' pelicula.id %}">Eliminar</a>
    {% endif %}
    {% endfor %}

</ul>

{% endblock %}



{% block botonAgregar %} {% if user.is_authenticated %} <a class="btn btn-primary" href="{% url 'peliFormulario' %}">Agregar película</a>{% endif %}
<a class="btn btn-primary" href="{% url 'busquedaPeli' %}">Buscar película</a> 
{% endblock %}