{% extends "AppCoder/padre.html" %}

{% block contenido %}

<br>
<a href="{% url 'directorForm' %}" class="btn btn-success">Agregar director</a>

<div class="text-center"><h2>{{ mensaje }}</h2></div>

<div class="container">
    <div class="card">
        <div class="card-body">
           <div class="row">
                {% for director in directores %}
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                            <img src="{{ director.foto }}" alt="" class="img-fluid" width="75%">
                            <h3 class="text-center">{{ director.nombre }} {{ director.apellido }}</h3>
                            <i class="text-center">{{ director.nacionalidad }} - {{ director.edad }}</i>
                            </div>
                    <a href="/AppCoder/detalleDirector/{{ director.id }}/" class="btn btn-outline-info btn-sm mt-auto align-self-start">Ver detalles</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}



