{% extends "AppCoder/padre.html" %}

{% load static %}


{% load crispy_forms_tags %}

{% block contenido %}

<section class="vh-100" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="{{ avatar }}" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">Perfil de: <i>{{ user.username }}</i></h5>
                  <br>
                    <a href="{% url 'EditarPerfil' %}" class="btn btn-outline-primary me-1 flex-grow-1">Editar perfil</a>
                    <a href="{% url 'agregarAvatar' %}" class="btn btn-outline-primary me-1 flex-grow-1">Editar avatar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}